### Information about the file that I downloaded from: 
http://start.umd.edu/gtd/about/
### Link to the documentation of the data that I've selected: 
The following link is a form that I had to fill out to request to download the data. 
http://start.umd.edu/gtd/contact/

### Origin of the data: 

I downloaded the data from Global Terrorism Database(GTD), which is an open-source database which has records of terrorist events. It is one of the most comprehensive unclassified database of terrorist events around the world. The csv file that I downloaded has over 180,000 records of terroris incidents and attacks from all over the world internationally and domestically in the US as well. The information contained in the file is based on reports from a wide range of open media sources (over 4,000,000 news articles and 25,000 news articles were reviewed to collect the data) and the GTB team only added records only if they are credible and verified. Due to the transfer of the data in 1993, a lot of data in 1993 was missing but the GPB team decided to not include the data in 1993.

The Pinkerton Global Intelligence Services(PGIS) identified and recorded terrorism incidents from governemnt reports, wire services, and top international newspaper to determine the level of terrorism from 1970 to 1997. The Global Terrorism Database (GTD) started in 2001 when researched at University of Maryland took over the database from PGIS. The Department of Homeland Security provided additional funding to GTD from 1997.

GTD team utilises a wide range of news media sources for the identification of the incidents by using machine learning and and data mining techniques to identify types of terrorist incidents in news articles and also developed a Data Management System to compile the database. 

### Why I am interested in it 
I've always shown interest in war movies particularly on terrorist attacks internationally (mainly in the Middle East like Iraq and Afghanistan). I am often eager to read news articles on terrorist attacks and I often want to be able to understand how terrorists think and their motivation on carrying the attacks. Most terrorist attacks are based on political events and religion and by analyzing the data, I want to see if there's a high correlation between them and also want to find out the outliers from those factors as well. 

### Questions that I think this data may answer 
1. What is the success rate of the terrorists attacks from 1970 to 2017?

2. What is the number of terrorists years per year from 1970 to 2017?

In [2]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np

In [3]:
%matplotlib inline

Extra credit work - dataset has over 5000 records

In [6]:
##read it from a file
df = pd.read_csv('terrorism_data.csv',encoding='latin-1', low_memory = False)

top 50 rows of dataframe

In [7]:
df.head(50)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
5,197001010002,1970,1,1,NaN,0,NaN,217,United States,1,...,"The Cairo Chief of Police, William Petersen, r...","""Police Chief Quits,"" Washington Post, January...","""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN
6,197001020001,1970,1,2,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
7,197001020002,1970,1,2,NaN,0,NaN,217,United States,1,...,"Damages were estimated to be between $20,000-$...",Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
8,197001020003,1970,1,2,NaN,0,NaN,217,United States,1,...,The New Years Gang issue a communiqué to a loc...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project,0,0,0,0,NaN
9,197001030001,1970,1,3,NaN,0,NaN,217,United States,1,...,"Karl Armstrong's girlfriend, Lynn Schultz, dro...",Committee on Government Operations United Stat...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...",Hewitt Project,0,0,0,0,NaN
10,197001050001,1970,1,1,NaN,0,NaN,217,United States,1,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
11,197001060001,1970,1,6,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
12,197001080001,1970,1,8,NaN,0,NaN,98,Italy,8,...,NaN,NaN,NaN,NaN,Hijacking DB,-9,-9,1,1,NaN
13,197001090001,1970,1,9,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
14,197001090002,1970,1,9,NaN,0,NaN,217,United States,1,...,The fire began at 8:30 PM. The Armed Commandos...,Committee on the Judiciary United States Sena...,"""No Evidence Of Arson Found In Barkers Fire,"" ...","""Toward People's War for Independence and Soci...",Hewitt Project,0,0,0,0,NaN
15,197001100001,1970,1,10,NaN,0,NaN,499,East Germany (GDR),9,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
16,197001110001,1970,1,11,NaN,0,NaN,65,Ethiopia,11,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
17,197001120001,1970,1,12,NaN,0,NaN,217,United States,1,...,"One half hour after the bomb explosion, an ano...","""Blast Damages Flatbush School,"" New York Time...","Linda Greenhouse, ""Madison School Puzzled By B...",Committee on Government Operations United Stat...,Hewitt Project,-9,-9,0,-9,NaN
18,197001120002,1970,1,12,NaN,0,NaN,217,United States,1,...,NaN,Committee on the Judiciary United States Sena...,"""Toward People's War for Independence and Soci...",NaN,Hewitt Project,-9,-9,0,-9,NaN
19,197001130001,1970,1,13,NaN,0,NaN,217,United States,1,...,The store was a White owned business operating...,Committee on Government Operations United Stat...,NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN
20,197001140001,1970,1,14,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Peter F. Nardulli and Jeffrey M. Stonecash, ""P...",Hewitt Project,-9,-9,0,-9,NaN
21,197001150001,1970,1,15,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
22,197001190002,1970,1,19,NaN,0,NaN,217,United States,1,...,Witnesses observed three African American male...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Seattle University, ""1965-1975: Troubled Times...",Hewitt Project,-9,-9,0,-9,NaN
23,197001190003,1970,1,19,NaN,0,NaN,217,United States,1,...,Judith and Silas Bissell were both members of ...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Earl Caldwell, ""Fear Grows In Seattle As Polic...",Hewitt Project,-9,-9,0,-9,NaN
24,197001190004,1970,1,19,"January 19-20, 1970",0,NaN,217,United States,1,...,The building might have been shot at a second ...,Committee on Government Operations United Stat...,"""Black Panthers Say Office Was Bombed,"" New Yo...","""30 Shots Fired Into Office of Panthers in Jer...",Hewitt Project,-9,-9,0,-9,NaN
25,197001200001,1970,1,20,NaN,0,NaN,83,Guatemala,2,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
26,197001210001,1970,1,21,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
27,197001220001,1970,1,22,NaN,0,NaN,222,Venezuela,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
28,197001220002,1970,1,22,NaN,0,NaN,217,United States,1,...,This attack might be linked with other episode...,Committee on Government Operations United Stat...,"""Beef Plant Workers in Nebraska Await Call to ...",NaN,Hewitt Project,-9,-9,0,-9,NaN
29,197001250001,1970,1,25,NaN,0,NaN,217,United States,1,...,"Police, at the time suspected, that this attac...","""Miss. City Is Desegregation Trouble Spot,"" Ch...",NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN
30,197001250002,1970,1,25,NaN,0,NaN,217,United States,1,...,Police do not believe that this attack was rel...,Committee on Government Operations United Stat...,"Martin Arnold, ""Harlem Area Sealed Off As Poli...","""2 Policemen Wounded by Sniper Fire,"" New York...",Hewitt Project,-9,-9,0,-9,NaN
31,197001260001,1970,1,26,NaN,0,NaN,217,United States,1,...,"Police, at the time, suspected that this attac...","""Miss. City Is Desegregation Trouble Spot,"" Ch...","""Black, White Killings in South, West Trigger ...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN
32,197001260003,1970,1,26,NaN,0,NaN,217,United States,1,...,Police do not believe that this attack was rel...,Committee on Government Operations United Stat...,"Martin Arnold, ""Harlem Area Sealed Off As Poli...","""2 Policemen Wounded by Sniper Fire,"" New York...",Hewitt Project,-9,-9,0,-9,NaN
33,197001270002,1970,1,27,NaN,0,NaN,217,United States,1,...,The perpetrators broke through the door of the...,Committee on Government Operations United Stat...,"""Clues To Arson Sought In Norwalk,"" Toledo Bla...",NaN,Hewitt Project,-9,-9,0,-9,NaN
34,197001280001,1970,1,28,NaN,0,NaN,499,East Germany (GDR),9,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
35,197001280002,1970,1,28,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"""Synagogue Blasted,"" Tri City Herald, January ...",NaN,Hewitt Project,-9,-9,0,-9,NaN
36,197001300001,1970,1,30,NaN,0,NaN,217,United States,1,...,This incident might be part of a multiple atta...,Committee on Government Operations United Stat...,"""Beef Plant Workers in Nebraska Await Call to ...",NaN,Hewitt Project,-9,-9,0,-9,"197001300001, 197001300002"
37,197001300002,1970,1,30,NaN,0,NaN,217,United States,1,...,This incident might be part of a multiple atta...,Committee on Government Operations United Stat...,"""Beef Plant Workers in Nebraska Await Call to ...",NaN,Hewitt Project,-9,-9,0,-9,"197001300001, 197001300002"
38,197001300003,1970,1,30,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"""Firebombs Exploded In Miami,"" Times-News, Jan...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN
39,197001310001,1970,1,31,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
40,197001310002,1970,1,31,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
41,197002010001,1970,2,1,NaN,0,NaN,217,United States,1,...,It is suspected that the perpetrator was attem...,Committee on Government Operations United Stat...,"""Arsonist 'Failed,'"" Eugene Register-Guard, Fe...",NaN,Hewitt Project,-9,-9,0,-9,NaN
42,197002010002,1970,2,1,NaN,0,NaN,217,United States,1,...,This attack took place during heightened racia...,Committee on Government Operations United Stat...,"""Shooting Inquiry at Cairo,"" The Southeast Mis...","""Front Asks Time With Governor,"" The Southeast...",Hewitt Project,-9,-9,0,-9,NaN
43,197002020001,1970,2,2,NaN,0,NaN,217,United States,1,...,NaN,"""Alexander's Stores Survive 2 Bombs With No Da...","""Fire Bomb is Found in Alexander Store,"" New Y...",NaN,Hewitt Project,-9,-9,0,-9,NaN
44,197002030001,1970,2,3,NaN,0,NaN,217,United States,1,...,Part of a multiple attack with 197002030002. ...,"""Alexander's Stores Survive 2 Bombs With No Da...","""Fire Bomb is Found in Alexander Store,"" New Y...",NaN,Hewitt Project,-9,-9,0,-9,"197002030001, 197002030002"
45,197002030002,1970,2,3,NaN,0,NaN,217,United States,1,...,Part of a multiple attack with 197002030001. ...,Committee on Government Operations United Stat...,"""Alexander's Stores Survive 2 Bombs With No Da...","""Fire Bomb is Found in Alexander Store,"" New Y...",Hewitt Project,-9,-9,0,-9,"197002030001, 197002030002"
46,197002040001,1970,2,4,NaN,0,NaN,217,United States,1,...,This attack might be linked with other episode...,Committee on Government Operations United Stat...,NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN
47,197002060001,1970,2,6,NaN,0,NaN,217,United States,1,...,School buses played a significant role in tran...,"Anthony Ripley, ""Denver Blasts Destroy 24 Scho...","Marcia McKnight Trick, ""Chronology of Incident...",NaN,Hewitt Project,-9,-9,0,-9,NaN
48,197002060002,1970,2,6,NaN,0,NaN,217,United States,1,...,The general consensus among sources is that t...,"Earl Caldwell, ""Fear Grows in Seattle as Polic...","Steven V. Roberts, ""Bombings on Rise Over the ...",Committee on Government Operations United Stat...,Hewitt Project,-9,-9,0,-9,NaN
49,197002060003,1970,2,6,NaN,0,NaN,217,United States,1,...,This might be linked with 197001280002. Both ...,Committee on Government Operations United Stat...,NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN

last 50 rows of dataframe

In [8]:
df.tail(50)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
181641,201712290026,2017,12,24,NaN,0,NaN,147,Nigeria,11,...,Casualty numbers conflict across sources. Foll...,"""Gunmen kill 2 in Benue,"" Weekly Trust, Decemb...","""Gunmen throw Benue communities into mourning ...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181642,201712290029,2017,12,29,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia Militants Target Local Admin Office i...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181643,201712290031,2017,12,31,"December 25, 2017-January 5, 2018",0,NaN,78,Greece,8,...,NaN,"""Anti-migrant attacks surge in Greece's Piraeu...","""New Greek Neo-Nazi Group Threatens Muslims, M...",NaN,START Primary Collection,0,1,1,1,"201712290031, 201712290032"
181644,201712290032,2017,12,31,"December 25, 2017-January 5, 2018",0,NaN,78,Greece,8,...,NaN,"""Anti-migrant attacks surge in Greece's Piraeu...","""New Greek Neo-Nazi Group Threatens Muslims, M...",NaN,START Primary Collection,0,1,1,1,"201712290031, 201712290032"
181645,201712300002,2017,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""Iraq: Security Roundup 1900 GMT 1 January 201...","""Iraq: Roundup of Violent Activities Targeting...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181646,201712300003,2017,12,30,NaN,0,NaN,95,Iraq,10,...,NaN,"""Three people wounded in southern Baghdad bomb...","""Iraq: Roundup of Violent Activities Targeting...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181647,201712300004,2017,12,30,NaN,0,NaN,95,Iraq,10,...,NaN,"""Iraq: Roundup of Violent Activities Targeting...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181648,201712300005,2017,12,30,NaN,0,NaN,95,Iraq,10,...,NaN,"""Five civilians killed in two bomb attacks in ...","""Iraq: Roundup of Violent Activities Targeting...",NaN,START Primary Collection,-9,-9,0,-9,"201712300005, 201712310002"
181649,201712300006,2017,12,30,NaN,0,NaN,4,Afghanistan,6,...,Casualty numbers conflict across sources. Foll...,"""Suicide Bomber Kills at Least 17 at Funeral i...","""Pakistan condemns terrorist attacks in Afghan...","""12 people wounded in Northern Afghanistan's e...",START Primary Collection,-9,-9,0,-9,NaN
181650,201712300007,2017,12,30,NaN,0,NaN,153,Pakistan,6,...,NaN,"""Highlights: Pakistan Balochistan Press 31 Dec...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181651,201712300008,2017,12,30,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""Media Highlights on Afghanistan 30 December 2...","""Ten Taliban militants killed in clash with Af...",NaN,START Primary Collection,0,0,0,0,NaN
181652,201712300010,2017,12,30,NaN,0,NaN,160,Philippines,5,...,The victims included civilian Esmael Guialel.,"""Cops hunt North Cotabato bombers,"" Philippine...","""Philippines: Highlights of Terrorist, Counter...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181653,201712300011,2017,12,31,NaN,0,NaN,37,Cameroon,11,...,Casualty numbers conflict across sources. Foll...,"""Female Suicide Bomber Kills One, Wounds 28 In...","""Female suicide bomber kills one, injures 28,""...","""Xinhua: 1st LD: Two Killed In Suspected Boko ...",START Primary Collection,1,1,0,1,NaN
181654,201712300012,2017,12,30,NaN,0,NaN,147,Nigeria,11,...,NaN,"""Nigeria Scores Killed in Boko Haram Attacks i...","""SOCAFRICA: Native Prospector West Africa VEO ...",NaN,START Primary Collection,0,0,0,0,NaN
181655,201712300013,2017,12,30,NaN,1,NaN,147,Nigeria,11,...,NaN,"""5 soldiers reported killed in Boko Haram atta...","""Nigeria Scores Killed in Boko Haram Attacks i...","""BBCM Terrorism Digest: 1-2 January 2018,"" BBC...",START Primary Collection,0,0,0,0,NaN
181656,201712300014,2017,12,30,NaN,1,NaN,147,Nigeria,11,...,NaN,"""Boko Haram says it carried out Christmas atta...","""Toll in Boko Haram attack on loggers rises to...","""Boko Haram kills four loggers in Nigeria,"" Th...",START Primary Collection,0,0,0,0,NaN
181657,201712300015,2017,12,30,NaN,0,NaN,104,Kenya,11,...,Casualty numbers conflict across sources. Foll...,"""'Shabaab' burn Ijara Police Station,"" Daily N...","""Al-Shabaab attacks Ijara town,"" East African ...","""Al-Shabaab militants attack police camp in N....",START Primary Collection,1,1,0,1,"201712290009, 201712300015, 201712300016, 2017..."
181658,201712300016,2017,12,30,NaN,0,NaN,104,Kenya,11,...,Casualty numbers conflict across sources. Foll...,"""'Shabaab' burn Ijara Police Station,"" Daily N...","""Al-Shabaab attacks Ijara town,"" East African ...","""Al-Shabaab militants attack police camp in N....",START Primary Collection,1,1,0,1,"201712290009, 201712300015, 201712300016, 2017..."
181659,201712300017,2017,12,30,NaN,0,NaN,104,Kenya,11,...,Casualty numbers conflict across sources. Foll...,"""'Shabaab' burn Ijara Police Station,"" Daily N...","""Al-Shabaab attacks Ijara town,"" East African ...","""Al-Shabaab militants attack police camp in N....",START Primary Collection,1,1,0,1,"201712290009, 201712300015, 201712300016, 2017..."
181660,201712300018,2017,12,30,NaN,0,NaN,214,Ukraine,9,...,There is doubt that this incident meets terror...,"""Hostages In Ukraine Freed After Police Storm ...","""Man takes hostages at Ukraine post office; so...","""Ukraine hostages freed after police storm pos...",START Primary Collection,-9,-9,0,-9,NaN
181661,201712300019,2017,12,28,NaN,0,NaN,92,India,6,...,NaN,"""Two held over attacks on mosques in two Telug...","""AP: Muazzin assassinated in attack on masjid,...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181662,201712300020,2017,12,30,NaN,0,NaN,160,Philippines,5,...,NaN,"""Philippines: Troops, NPA clash hours before s...","""Philippines: Highlights of Terrorist, Counter...",NaN,START Primary Collection,0,0,0,0,NaN
181663,201712300021,2017,12,30,NaN,0,NaN,92,India,6,...,NaN,"""Crude bomb explosion at two places in Kerala'...","""Bomb hurled at police station in Kannur,"" The...","""India:Crude bombs hurled at Koothuparamba pol...",START Primary Collection,-9,-9,0,-9,NaN
181664,201712300022,2017,12,30,NaN,0,NaN,603,United Kingdom,8,...,NaN,"""Four children terrified after witnessing 'bru...","""Police Appealing For Witnesses After Belfast ...",NaN,START Primary Collection,-9,-9,1,1,NaN
181665,201712300023,2017,12,30,NaN,0,NaN,92,India,6,...,NaN,"""Maoists set ablaze seven vehicles in Dantewad...","""Explosives recovered in Jharkhand, Maoists bu...",NaN,START Primary Collection,0,0,0,0,NaN
181666,201712300025,2017,12,30,NaN,0,NaN,147,Nigeria,11,...,NaN,"""Nigeria Scores Killed in Boko Haram Attacks i...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181667,201712300026,2017,12,30,NaN,0,NaN,200,Syria,10,...,NaN,"""Al-Qaida affiliates start new year with offen...","""Syrian army driven back in east Damascus in a...","""BBCM: Syria -- Fierce Fighting Continues Arou...",START Primary Collection,0,0,0,0,NaN
181668,201712310001,2017,12,31,2017-12-31 00:00:00,0,NaN,95,Iraq,10,...,NaN,"""Iraq: Security Roundup 1900 GMT 31 December 2...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181669,201712310002,2017,12,30,NaN,0,NaN,95,Iraq,10,...,Casualty numbers conflict across sources. Foll...,"""Five civilians killed in two bomb attacks in ...","""Iraq: Security Roundup 1900 GMT 31 December 2...","""Iraq: Roundup of Violent Activities Targeting...",START Primary Collection,-9,-9,0,-9,"201712300005, 201712310002"
181670,201712310003,2017,12,31,2017-12-31 00:00:00,0,NaN,95,Iraq,10,...,NaN,"""Iraq: Security Roundup 1900 GMT 31 December 2...","""Terrorism: Roundup of Official ISIS Messages ...",NaN,START Primary Collection,0,1,0,1,NaN
181671,201712310004,2017,12,31,NaN,0,NaN,95,Iraq,10,...,Casualty numbers conflict across sources. Foll...,"""Islamic State attack leaves thirteen civilian...","""3 people killed in IS attack in central Iraq,...","""Daesh gunmen kill 3 in northern Iraq: Police,...",START Primary Collection,0,1,0,1,NaN
181672,201712310005,2017,12,31,NaN,0,NaN,92,India,6,...,"The victims included Kuldip Roy, Taufail Ahmed...","""Three soldiers killed in Indian-administered ...","""Fidayeen used armour-piercing bullets in Leth...","""Kashmir gunbattle ends after 16 hrs, body of ...",START Primary Collection,1,1,0,1,NaN
181673,201712310006,2017,12,31,NaN,0,NaN,4,Afghanistan,6,...,Casualty numbers conflict across sources. Foll...,"""Death toll from funeral blast in eastern Afgh...","""The Latest: Toll from Afghan funeral bombing ...","""Bombing Kills At Least 17 At Funeral In Easte...",START Primary Collection,0,1,0,1,NaN
181674,201712310007,2017,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""Five IS militants killed as paramilitary troo...","""1,262 Killed in Iraq During December,"" Antiwa...",NaN,START Primary Collection,0,1,0,1,NaN
181675,201712310008,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabab says 5 AU soldiers dead in...","""Somalia: Fifteen Police Officers Complete Tra...","""Two die in Mogadishu bomb attack,"" Xinhua Gen...",START Primary Collection,0,1,1,1,NaN
181676,201712310009,2017,12,31,NaN,0,NaN,4,Afghanistan,6,...,The victims included police commander Faqeer A...,"""Commander among 5 ALP members killed in Logar...","""Media Highlights on Afghanistan 1 January 201...",NaN,START Primary Collection,0,0,0,0,NaN
181677,201712310010,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""3 slain in Maguindanao roadside bombings,"" Ph...","""BIFF gunmen torch abandoned houses in Maguind...","""Philippines: Highlights of Terrorist, Counter...",START Primary Collection,0,0,0,0,NaN
181678,201712310011,2017,12,30,NaN,0,NaN,160,Philippines,5,...,"The victims included the owner, Norodin Pacaln...","""Cops hunt North Cotabato bombers,"" Philippine...","""Philippines: Highlights of Terrorist, Counter...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181679,201712310012,2017,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""13 IS militants killed in attack on paramilit...",NaN,NaN,START Primary Collection,0,1,0,1,NaN
181680,201712310013,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia's al-Shabab fires mortars at Ethiopia...","""Somalia: Al-Shabaab Militants Shell Ethiopian...",NaN,START Primary Collection,0,1,1,1,NaN
181681,201712310016,2017,12,31,NaN,0,NaN,160,Philippines,5,...,The victims included Senior Police Officer 4 M...,"""3 dead, scores injured in Mindanao blasts,"" M...","""Cop, 2 others killed in bomb blasts in Mindan...","""Cop killed, 7 injured in Maguindanao IED blas...",START Primary Collection,0,0,0,0,NaN
181682,201712310017,2017,12,31,NaN,0,NaN,98,Italy,8,...,NaN,"""Arson attack probed as racial crime,"" Ansa.it...","""Ascoli, a building destined for migrants goes...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181683,201712310018,2017,12,31,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""Six Members Of One Family Shot Dead In Faryab...","""Highlights: Pakistan Pashto Press 02 January ...",NaN,START Primary Collection,0,0,0,0,NaN
181684,201712310019,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Abducted PSO rescued within 11 hours,"" The Se...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181685,201712310020,2017,12,31,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""4 people injured in Farayb explosion,"" Pajhwo...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

##### Since there is a large number of column names, I will drop the unnecessary column names below when I clean the data and describe the data types of column names of the updated dataframe.  Below is all the updated column names and the description of them

iyear - year of the terrorist attack

imonth - month of the terrorist attack

iday - day of the terrorist attack

country_txt - country of the terrorist attack

provstate - state of the country of attack 

city - city in country of the terrorist attack 

multiple - 0 means only 1 group carried out the attack and 1 means multiple people carried out the attack 

success - 0 means the attack was not successful and 1 means the attack was successful 

suicide - 0 means the attack was an suicide attack and 1 means it is not

In order to determine the data type of each field, I will drop the unncessary columns here and then use df.dtypes() to determine the type of the field of the updated dataframe.

In [9]:
df.drop(columns=['eventid', 'approxdate', 'resolution', 'country', 'latitude', 'longitude', 'specificity',
                 'vicinity', 'crit1', 'crit2', 'crit3',
       'doubtterr', 'alternative', 'alternative_txt', 'attacktype1', 'attacktype2', 'attacktype2_txt', 'attacktype3',
                 'attacktype3_txt', 'natlty1', 'targtype2',
       'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2',
       'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt',
       'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3',
       'natlty3_txt','gsubname', 'gname2', 'gsubname2',
       'gname3', 'gsubname3', 'guncertain1', 'guncertain2',
       'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed',
       'claimmode', 'claimmode_txt', 'claim2', 'claimmode2',
       'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt',
       'compclaim','weaptype1', 'weaptype2', 'weaptype2_txt', 'weapsubtype2',
       'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3',
       'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4',
       'weapsubtype4_txt', 'weapdetail','nkillus', 'nkillter',
       'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent', 'propvalue', 'propcomment', 'ishostkid',
       'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert',
       'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus', 'targsubtype1',
       'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome',
       'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2',
       'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY',
       'related', 'weapsubtype1', 'extended', 'location', 'region', 'summary',
       'provstate', 'attacktype1_txt', 'targtype1', 'targtype1_txt',
        'targsubtype1_txt', 'corp1', 'target1', 'natlty1_txt', 'gname' ,'motive',
        'weaptype1_txt', 'weapsubtype1_txt', 'propextent_txt'], inplace = True)

In [10]:
df.dtypes

iyear            int64
imonth           int64
iday             int64
country_txt     object
region_txt      object
city            object
multiple       float64
success          int64
suicide          int64
nkill          float64
dtype: object

##### Transformating and cleaning the data 
1. Drop columns that are irelevant or unncessary to what I want to find from the data 
2. Rename columns so that it is easier to understand  
3. Make the country column all capital letters so that it is easier read since I will be dealing 
4. Fill all NaN to empty strings 
5. Use lambda functions to convert iyear column to integet datatype 
6. Sort values by year, month and day

In [11]:
df = df.rename(columns = {'iyear': 'year', 
                          'imonth': 'month',
                          'iday': 'day', 
                          'country_txt': 'country',
                          'region_txt': 'region',
                          'provstate': 'state',
                          'nkill': 'no_kills'
                         })
    
df['country'] = df['country'].str.upper()
kills = df['no_kills']
kills.fillna(0, inplace = True)
df = df.fillna('')
to_int = [c for c in df.columns if "iyear" in c] 
    
for c in to_int:
    df[c] = df[c].apply(lambda x: pd.astype(x))
        
df.sort_values(by=['year','month', 'day'], inplace=True)

In [12]:
df

,year,month,day,country,region,city,multiple,success,suicide,no_kills
1,1970,0,0,MEXICO,North America,Mexico city,0,1,0,0.0
2,1970,1,0,PHILIPPINES,Southeast Asia,Unknown,0,1,0,1.0
3,1970,1,0,GREECE,Western Europe,Athens,0,1,0,0.0
4,1970,1,0,JAPAN,East Asia,Fukouka,0,1,0,0.0
5,1970,1,1,UNITED STATES,North America,Cairo,0,1,0,0.0
10,1970,1,1,UNITED STATES,North America,Baraboo,0,0,0,0.0
6,1970,1,2,URUGUAY,South America,Montevideo,0,0,0,0.0
7,1970,1,2,UNITED STATES,North America,Oakland,0,1,0,0.0
8,1970,1,2,UNITED STATES,North America,Madison,0,1,0,0.0
9,1970,1,3,UNITED STATES,North America,Madison,0,1,0,0.0
11,1970,1,6,UNITED STATES,North America,Denver,0,1,0,0.0
12,1970,1,8,ITALY,Western Europe,Rome,0,1,0,0.0
13,1970,1,9,UNITED STATES,North America,Detroit,0,1,0,0.0
14,1970,1,9,UNITED STATES,North America,Rio Piedras,0,1,0,0.0
15,1970,1,10,EAST GERMANY (GDR),Eastern Europe,Berlin,0,1,0,0.0
16,1970,1,11,ETHIOPIA,Sub-Saharan Africa,Unknown,0,1,0,1.0
17,1970,1,12,UNITED STATES,North America,New York City,0,1,0,0.0
18,1970,1,12,UNITED STATES,North America,Rio Grande,0,1,0,0.0
19,1970,1,13,UNITED STATES,North America,Seattle,0,1,0,0.0
20,1970,1,14,UNITED STATES,North America,Champaign,0,1,0,0.0
21,1970,1,15,URUGUAY,South America,Montevideo,0,1,0,0.0
22,1970,1,19,UNITED STATES,North America,Seattle,0,1,0,0.0
23,1970,1,19,UNITED STATES,North America,Seattle,0,0,0,0.0
24,1970,1,19,UNITED STATES,North America,Jersey City,0,1,0,0.0
25,1970,1,20,GUATEMALA,Central America & Caribbean,Guatemala City,0,1,0,1.0
26,1970,1,21,PHILIPPINES,Southeast Asia,Quezon City,0,1,0,0.0
27,1970,1,22,VENEZUELA,South America,Caracas,0,1,0,0.0
28,1970,1,22,UNITED STATES,North America,South Sioux City,0,1,0,0.0
29,1970,1,25,UNITED STATES,North America,West Point,0,1,0,0.0
30,1970,1,25,UNITED STATES,North America,New York City,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...
181665,2017,12,30,INDIA,South Asia,Toylanka,0,1,0,0.0
181666,2017,12,30,NIGERIA,Sub-Saharan Africa,Konduga district,0,1,0,0.0
181667,2017,12,30,SYRIA,Middle East & North Africa,Harasta,0,1,1,0.0
181669,2017,12,30,IRAQ,Middle East & North Africa,Kirkuk,1,1,0,0.0
181678,2017,12,30,PHILIPPINES,Southeast Asia,Pikit district,0,1,0,1.0
181643,2017,12,31,GREECE,Western Europe,Piraeus,1,1,0,0.0
181644,2017,12,31,GREECE,Western Europe,Piraeus,1,1,0,0.0
181645,2017,12,31,IRAQ,Middle East & North Africa,Kirkuk,0,1,0,0.0
181653,2017,12,31,CAMEROON,Sub-Saharan Africa,Bia,0,1,1,2.0
181668,2017,12,31,IRAQ,Middle East & North Africa,Shurjah,0,1,0,0.0
181670,2017,12,31,IRAQ,Middle East & North Africa,Hawd al-Waqf,0,1,0,1.0
181671,2017,12,31,IRAQ,Middle East & North Africa,Farhatiyah,0,1,0,4.0
181672,2017,12,31,INDIA,South Asia,Lethapora,0,1,1,8.0
181673,2017,12,31,AFGHANISTAN,South Asia,Jalalabad,0,1,0,18.0
181674,2017,12,31,IRAQ,Middle East & North Africa,Baaj,0,0,0,5.0
181675,2017,12,31,SOMALIA,Sub-Saharan Africa,Mogadishu,0,1,0,2.0
181676,2017,12,31,AFGHANISTAN,South Asia,Mohammad Agha district,0,1,0,5.0
181677,2017,12,31,PHILIPPINES,Southeast Asia,Limpogo,0,1,0,0.0
181679,2017,12,31,IRAQ,Middle East & North Africa,Muqdadiyah,0,0,0,13.0
181680,2017,12,31,SOMALIA,Sub-Saharan Africa,Wajid,0,1,0,0.0
181681,2017,12,31,PHILIPPINES,Southeast Asia,Shariff Aguak,0,1,0,1.0
181682,2017,12,31,ITALY,Western Europe,Spinetoli,0,1,0,0.0
181683,2017,12,31,AFGHANISTAN,South Asia,Kohistan district,0,1,0,6.0
181684,2017,12,31,INDIA,South Asia,Hungrum,0,1,0,0.0
181685,2017,12,31,AFGHANISTAN,South Asia,Maymana,0,1,0,0.0
181686,2017,12,31,SOMALIA,Sub-Saharan Africa,Ceelka Geelow,0,1,0,1.0
181687,2017,12,31,SYRIA,Middle East & North Africa,Jableh,0,1,0,2.0
181688,2017,12,31,PHILIPPINES,Southeast Asia,Kubentog,0,1,0,0.0
181689,2017,12,31,INDIA,South Asia,Imphal,0,0,0,0.0
181690,2017,12,31,PHILIPPINES,Southeast Asia,Cotabato City,0,0,0,0.0

##### Stats and Answers

This finds the total counts of people killed per attack between 1970 and 2017 e.g. (The count for 0 people killed is 88149, count for 1 person killed is 36576.)

In [13]:
kills.value_counts()

0.0       98462
1.0       36576
2.0       14147
3.0        7738
4.0        4961
5.0        3565
6.0        2552
7.0        1960
8.0        1495
10.0       1192
9.0        1054
11.0        833
12.0        747
13.0        575
15.0        556
14.0        487
16.0        402
20.0        372
17.0        316
18.0        313
25.0        214
19.0        209
21.0        199
30.0        194
22.0        174
23.0        149
24.0        132
40.0        128
26.0        127
27.0        111
          ...
117.0         1
152.0         1
375.0         1
320.0         1
304.0         1
165.0         1
329.0         1
208.0         1
134.0         1
133.0         1
518.0         1
143.0         1
287.0         1
284.0         1
256.0         1
422.0         1
1180.0        1
298.0         1
433.0         1
227.0         1
310.0         1
311.0         1
119.0         1
315.0         1
212.0         1
184.0         1
163.0         1
135.0         1
128.0         1
280.0         1
Name: no_kills, Length: 205, dtype: int64

The minimum count of people killed per attack so 0 is the lowest of people killed per attack

In [14]:
kills.min()

0.0

The maximum count of people killed during those years per attack (1970 and 2018)(e.g. the count of the highest count of people killed per attack )

In [15]:
kills.max()

1570.0

The average count of people killed during those years

In [16]:
kills.mean()

2.2668596683380025

The median count of people killed during those years

In [17]:
kills.median()

0.0

Total number of people killed in 2007 and 2017 due to terrorist attacks

In [18]:
kills.sum()

411868.0

In [19]:
df

,year,month,day,country,region,city,multiple,success,suicide,no_kills
1,1970,0,0,MEXICO,North America,Mexico city,0,1,0,0.0
2,1970,1,0,PHILIPPINES,Southeast Asia,Unknown,0,1,0,1.0
3,1970,1,0,GREECE,Western Europe,Athens,0,1,0,0.0
4,1970,1,0,JAPAN,East Asia,Fukouka,0,1,0,0.0
5,1970,1,1,UNITED STATES,North America,Cairo,0,1,0,0.0
10,1970,1,1,UNITED STATES,North America,Baraboo,0,0,0,0.0
6,1970,1,2,URUGUAY,South America,Montevideo,0,0,0,0.0
7,1970,1,2,UNITED STATES,North America,Oakland,0,1,0,0.0
8,1970,1,2,UNITED STATES,North America,Madison,0,1,0,0.0
9,1970,1,3,UNITED STATES,North America,Madison,0,1,0,0.0
11,1970,1,6,UNITED STATES,North America,Denver,0,1,0,0.0
12,1970,1,8,ITALY,Western Europe,Rome,0,1,0,0.0
13,1970,1,9,UNITED STATES,North America,Detroit,0,1,0,0.0
14,1970,1,9,UNITED STATES,North America,Rio Piedras,0,1,0,0.0
15,1970,1,10,EAST GERMANY (GDR),Eastern Europe,Berlin,0,1,0,0.0
16,1970,1,11,ETHIOPIA,Sub-Saharan Africa,Unknown,0,1,0,1.0
17,1970,1,12,UNITED STATES,North America,New York City,0,1,0,0.0
18,1970,1,12,UNITED STATES,North America,Rio Grande,0,1,0,0.0
19,1970,1,13,UNITED STATES,North America,Seattle,0,1,0,0.0
20,1970,1,14,UNITED STATES,North America,Champaign,0,1,0,0.0
21,1970,1,15,URUGUAY,South America,Montevideo,0,1,0,0.0
22,1970,1,19,UNITED STATES,North America,Seattle,0,1,0,0.0
23,1970,1,19,UNITED STATES,North America,Seattle,0,0,0,0.0
24,1970,1,19,UNITED STATES,North America,Jersey City,0,1,0,0.0
25,1970,1,20,GUATEMALA,Central America & Caribbean,Guatemala City,0,1,0,1.0
26,1970,1,21,PHILIPPINES,Southeast Asia,Quezon City,0,1,0,0.0
27,1970,1,22,VENEZUELA,South America,Caracas,0,1,0,0.0
28,1970,1,22,UNITED STATES,North America,South Sioux City,0,1,0,0.0
29,1970,1,25,UNITED STATES,North America,West Point,0,1,0,0.0
30,1970,1,25,UNITED STATES,North America,New York City,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...
181665,2017,12,30,INDIA,South Asia,Toylanka,0,1,0,0.0
181666,2017,12,30,NIGERIA,Sub-Saharan Africa,Konduga district,0,1,0,0.0
181667,2017,12,30,SYRIA,Middle East & North Africa,Harasta,0,1,1,0.0
181669,2017,12,30,IRAQ,Middle East & North Africa,Kirkuk,1,1,0,0.0
181678,2017,12,30,PHILIPPINES,Southeast Asia,Pikit district,0,1,0,1.0
181643,2017,12,31,GREECE,Western Europe,Piraeus,1,1,0,0.0
181644,2017,12,31,GREECE,Western Europe,Piraeus,1,1,0,0.0
181645,2017,12,31,IRAQ,Middle East & North Africa,Kirkuk,0,1,0,0.0
181653,2017,12,31,CAMEROON,Sub-Saharan Africa,Bia,0,1,1,2.0
181668,2017,12,31,IRAQ,Middle East & North Africa,Shurjah,0,1,0,0.0
181670,2017,12,31,IRAQ,Middle East & North Africa,Hawd al-Waqf,0,1,0,1.0
181671,2017,12,31,IRAQ,Middle East & North Africa,Farhatiyah,0,1,0,4.0
181672,2017,12,31,INDIA,South Asia,Lethapora,0,1,1,8.0
181673,2017,12,31,AFGHANISTAN,South Asia,Jalalabad,0,1,0,18.0
181674,2017,12,31,IRAQ,Middle East & North Africa,Baaj,0,0,0,5.0
181675,2017,12,31,SOMALIA,Sub-Saharan Africa,Mogadishu,0,1,0,2.0
181676,2017,12,31,AFGHANISTAN,South Asia,Mohammad Agha district,0,1,0,5.0
181677,2017,12,31,PHILIPPINES,Southeast Asia,Limpogo,0,1,0,0.0
181679,2017,12,31,IRAQ,Middle East & North Africa,Muqdadiyah,0,0,0,13.0
181680,2017,12,31,SOMALIA,Sub-Saharan Africa,Wajid,0,1,0,0.0
181681,2017,12,31,PHILIPPINES,Southeast Asia,Shariff Aguak,0,1,0,1.0
181682,2017,12,31,ITALY,Western Europe,Spinetoli,0,1,0,0.0
181683,2017,12,31,AFGHANISTAN,South Asia,Kohistan district,0,1,0,6.0
181684,2017,12,31,INDIA,South Asia,Hungrum,0,1,0,0.0
181685,2017,12,31,AFGHANISTAN,South Asia,Maymana,0,1,0,0.0
181686,2017,12,31,SOMALIA,Sub-Saharan Africa,Ceelka Geelow,0,1,0,1.0
181687,2017,12,31,SYRIA,Middle East & North Africa,Jableh,0,1,0,2.0
181688,2017,12,31,PHILIPPINES,Southeast Asia,Kubentog,0,1,0,0.0
181689,2017,12,31,INDIA,South Asia,Imphal,0,0,0,0.0
181690,2017,12,31,PHILIPPINES,Southeast Asia,Cotabato City,0,0,0,0.0

In [20]:
df.to_csv("updated_df1.csv", sep='\t', encoding='utf-8', index=False)

In order to find out the success rate of the terrorist attacks from 1970 to 2017, I use the groupby operation to group the day and success together by year. The 2 columns: day and success are total number of days of terrorist attacks and the number of days that are successful. Therefore, I can divide success by the number of days of terrorists attacks to find the success rate of terrorist attacks per year

In [ ]:
successRate = df.groupby(['year'])[['day','success']].sum()
successRate

In [ ]:
successRate['success'] = list(map(lambda x,y: x/y, successRate['success'],successRate['day']))

In [ ]:
successRate.drop(['day'], axis = 1, inplace = True)

In [ ]:
successRate

Extra Credit Work - 2 visualizations using matplotlib

The plot shows the success rate of terrorist attacks from 1970 to 2017 in a line graph. It shows the the success rate is reasonably low in the early 1970s and gradually increased from late 1970s and have a constant success rate of over 0.05 till 2000. However, from the early 2000s, there was a dramatic increase in success rate which can be due to factors such as war (Iraq War). However, success rate started to decrease a lot starting from late 2000s to 2010s. Reasons could be technology has advanced and it became easier to prevent terorrists attacks.

In [ ]:
successRate.plot(title='Success rate of terrorist attacks from 1970 to 2017', kind='line', color='red',figsize=[19,10])
plt.xlabel('Year', size=10)
plt.ylabel('Success Rate', size=10)

The bar chart below shows the number of people killed by terrorist attacks from 1970 to 2017. The chart seems like it is correlated to the line graph (success rate of terrorist attacks during that period),except that towards in the bar chart, the number of attacks increased dramatically in the early 2010s by a lot. The number of people killed remained fairly stagnant in the 1970s and increased gradually till the late 1990s. However, it remained low until the early 2010s. I find this strange cause I expected more people to be killed by attacks starting frmo the early 2000s because of the war in the Middle East.

In [ ]:
df['count'] = 1 

# by year
killYear = (df.groupby('year').agg({'count':'sum'}))
killYear.plot(title='Number of people killed by terrorist attacks from 1970 to 2017', kind='bar', color='orange',figsize=[11,10])
plt.ylabel('Number of people', size=11)
plt.xlabel('Year', size=11)