Python for Data Analysis

Ch 1: Preliminaries

Ch 2: Python Language Basics, Ipython, Jupyter Notebooks

Ch 3: Built-in Data Structures, Functions and Files

In [298]:
a = [1,2,3]

In [2]:
b = a

In [3]:
c = list(a)

In [4]:
type(a)

list

In [5]:
type(b)

list

In [6]:
type(c)

list

a is b - True if a and b reference the same Python object

In [7]:
a is b

True

In [13]:
a is c

False

Because list always creates a new python lsit (i.e copy), we can be sure that c is distcint from a. Comparing with is not the same as == operator because in this cause we have a == c

In [14]:
a is not c

True

In [15]:
a == c

True

Mutable (object or values that they contain can be modified) and immutable objects

Mutable - lists, dicts, NumPy arrays, and classes
Immutable - strings and tuples

In [16]:
s = r'this\has\no\special\characters'

In [17]:
s

'this\\has\\no\\special\\characters'

String templates

In [19]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [21]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

range function returns an iterator that yields a sequence of evenly spaced integers

In [22]:
range(10)

range(0, 10)

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

if an object inside a tuple, such as a list, you can modifiy it in-place

In [26]:
tup = tuple(['foo',[1,2], True])

In [27]:
tup[1].append(3)

In [28]:
tup

('foo', [1, 2, 3], True)

Multipleying a tuple by an integer as with lists, has the affect of concatenating together that many copies of the tuple

In [29]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

Unpacking tuples

In [30]:
tup = (4,5,6)

In [31]:
a,b,c = tup

In [32]:
a

4

In [33]:
b

5

In [34]:
values = 1, 2, 3, 4, 5

In [35]:
a, b, *rest = values

In [36]:
a, b

(1, 2)

In [37]:
rest

[3, 4, 5]

In [42]:
type(rest)

list

*** Sorting -> pass a secondary sort key, that is a function that products a value to use to sort the objects, eg. can sort a collection of strings by their lengths

In [44]:
b = ['hi', 'not', 'standing', 'nop', 'yes']

In [45]:
b.sort(key = len)

In [46]:
b

['hi', 'not', 'nop', 'yes', 'standing']

In [49]:
import bisect

Built in bisect module finds the location where an element should be inserted to keep it sorted
bisect.insort actually inserts the element into that location

In [50]:
c = [1,2,2,2,3,4,6,9]

In [51]:
bisect.bisect(c,2)

4

In [52]:
bisect.bisect(c,5)

6

In [53]:
bisect.insort(c,6)

In [54]:
c

[1, 2, 2, 2, 3, 4, 6, 6, 9]

Slicing

In [76]:
seq = [7, 2, 3, 7, 2, 5, 6, 0, 1]

In [77]:
seq[1:4]

[2, 3, 7]

In [78]:
seq[:5]

[7, 2, 3, 7, 2]

In [79]:
seq[3:4] = [6,3]

In [80]:
seq

[7, 2, 3, 6, 3, 2, 5, 6, 0, 1]

In [81]:
seq[-3]

6

**** IMPORTANT **** SLICING **

In [82]:
seq[-4:]

[5, 6, 0, 1]

In [83]:
seq[:-3]

[7, 2, 3, 6, 3, 2, 5]

In [84]:
seq[-6:-1]

[3, 2, 5, 6, 0]

step can also be used after a second colon, take every othe element

In [85]:
seq[::2]

[7, 3, 3, 5, 0]

In [86]:
seq[::-1]

[1, 0, 6, 5, 2, 3, 6, 3, 2, 7]

**** BUILT IN FUNCTON ****

enumerate -> returns a sequence of (i, value tuples

In [87]:
some_list = ['foo', 'bar', 'baz']

In [89]:
mapping = {}

In [90]:
for i, v in enumerate(some_list): 
    mapping[v] = i

In [91]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [92]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

zip -> pairs up elements of a number of lists, tuples or other sequences to create a list of tuples

In [93]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

In [95]:
zipped = zip(seq1,seq2)

In [97]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [98]:
seq3 = [False, True]

In [99]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

A very common use of zip is simultaneously iterating over multiple sequences, possi‚Äê
bly also combined with enumerate:

In [101]:
for i, (a,b) in enumerate(zip(seq1, seq2)): 
    print('{0}: {1},{2}'.format(i,a,b))

0: foo,one
1: bar,two
2: baz,three

*** UNZIPPING ***

In [103]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), 
           ('Schilling', 'Curt')]

In [105]:
first_name, last_name = zip(*pitchers)

In [106]:
first_name

('Nolan', 'Roger', 'Schilling')

In [107]:
last_name

('Ryan', 'Clemens', 'Curt')

**** DICT **** (hash map)

In [108]:
empt_dict = {}

In [109]:
d1 = {'a': 'some value', 'b' : [1,2,3,4]}

In [110]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [111]:
d1[7] = 'trying'

In [112]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'trying'}

In [113]:
d1['b'] = [2,3,4]

In [114]:
d1

{'a': 'some value', 'b': [2, 3, 4], 7: 'trying'}

In [115]:
'b' in d1

True

In [116]:
7 in d1

True

In [117]:
d1[1] = 'apples like it'

In [118]:
d1

{'a': 'some value', 'b': [2, 3, 4], 7: 'trying', 1: 'apples like it'}

In [119]:
list(d1.keys())

['a', 'b', 7, 1]

In [120]:
list(d1.values())

['some value', [2, 3, 4], 'trying', 'apples like it']

In [121]:
d1.update({'b': 'foo', 7 : 'nope'})

In [122]:
d1

{'a': 'some value', 'b': 'foo', 7: 'nope', 1: 'apples like it'}

In [124]:
list(reversed(range(4)))

[3, 2, 1, 0]

In [126]:
list(range(4))

[0, 1, 2, 3]

In [132]:
mapping = dict(zip(range(4), reversed(range(4))))

In [133]:
mapping

{0: 3, 1: 2, 2: 1, 3: 0}

In [134]:
words = ['apple', 'bat', 'day', 'animal','between','basketball']

In [136]:
dict1 = {}

In [143]:
for word in words: 
    first = word[0]
    if first not in dict1: 
        dict1[first] = [word]
    else: 
        dict1[first].append(word)

AttributeError: 'str' object has no attribute 'append'

In [144]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [145]:
for word in words: 
    letter = word[0]
    if letter not in dict1: 
        dict1[letter] = word
    else: 
        dict1[letter].append(word)

AttributeError: 'str' object has no attribute 'append'

In [146]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [147]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,}

In [148]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [149]:
a | b

{1, 2, 3, 4, 5, 6, 7}

In [150]:
a & b

{3, 4, 5}

In [151]:
a.intersection(b)

{3, 4, 5}

***LIST, SET AND DICT COMPREHENSIONS ***

[expr for val in collection if collection]

Filter out strings with length 2 ore less and convert them to upper case

In [154]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [159]:
[word.upper() for word in strings if len(word) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [161]:
unique_lengths = {len(x) for x in strings}

In [162]:
unique_lengths

{1, 2, 3, 4, 6}

In [163]:
loc_mapping = {val: index for val, index in enumerate(strings)}

In [164]:
loc_mapping

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [193]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [194]:
all_data

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [195]:
result = [name for names in all_data for name in names if name.count('a') >= 2]

In [196]:
result

['Maria', 'Natalia']

In [173]:
a = [[1,2],[3,4],[5,6]]

In [182]:
[each for num in a for each in num if each == 5]

[5]

In [200]:
d = [[[1,2],[3,4],[5,6]]]

In [229]:
d

[[[1, 2], [3, 4], [5, 6]]]

In [213]:
[a for all_nums in d for b in all_nums for a in b ]

[1, 2, 3, 4, 5, 6]

In [223]:
a1 = [[1,2],[3,4],[5,6]]

In [228]:
[num for each in a1 for num in each if num > 4]

[5, 6]

In [230]:
d

[[[1, 2], [3, 4], [5, 6]]]

In [234]:
[num for b in d for c in b for num in c if num > 3]

[4, 5, 6]

In [235]:
all_data1 = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [236]:
[name for all in all_data1 for name in all if name[0] == 'M']

['Michael', 'Mary', 'Maria']

In [237]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [242]:
[x for tuple in some_tuples for x in tuple if x > 4]

[5, 6, 7, 8, 9]

In [243]:
some_tuples

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [246]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [247]:
nested = [[[1,2,3],[4,5,6],[7,8,9]]]

In [251]:
[x for tup in nested for outer in tup for x in outer if x > 5]

[6, 7, 8, 9]

*** FUNCTIONS ***

In [257]:

def f(): 
    a=5 
    b=6 
    c=7
    return a, b, c

In [259]:
a,b,c=f()
a

5

*** DATA CLEANING USING RE ***

In [260]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',     'south   carolina##', 'West virginia?']

In [263]:
import re 

def clean_strings(strings): 
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value) 
        value = value.title() 
        result.append(value)
    return result

In [265]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

*** LAMBDA ***

In [276]:
def apply_to_list(some_list, f): 
    return [f(x) for x in some_list]

In [275]:
ints=[4,0,1,5,6] 
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [277]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [278]:
strings.sort(key=lambda x: len(set(list(x))))

In [279]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

*** GENERATORS ***

In [291]:
def _make_gen():
    for x in range(10):
        yield x**2 
        
gen = _make_gen()

In [292]:
list(gen)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

*** itertools module ***

In [294]:
import itertools

In [295]:
first_letter = lambda x: x[0]

In [296]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [297]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']