In [24]:
import pandas as pd

In [15]:
df = pd.DataFrame = ({'street_number': 104, 'street_name':'PUTNAM', 
                 'num_bedrooms' :15, 'owner_occupied':'Yes'},
                    {'street_number':197, 'street_name': 'LEXINGTON',
                    'num_bedrooms': 3, 'owner_occupied': 'No'})

In [16]:
df

({'street_number': 104,
  'street_name': 'PUTNAM',
  'num_bedrooms': 15,
  'owner_occupied': 'Yes'},
 {'street_number': 197,
  'street_name': 'LEXINGTON',
  'num_bedrooms': 3,
  'owner_occupied': 'No'})

In [19]:
data = [["104", "PUTNAM", 15, "Yes"],
     ["197", "LEXINGTON", 3, "No"]]

cols = ['street_number, street_name, num_bedrooms, owner_occupied']

c = pd.DataFrame(data, columns=cols)

TypeError: 'tuple' object is not callable

In [29]:
data = [["$229.2", 2017, 123000, "$1100", "Cupertino, US"],
     ["$211.9", 2017, 320671, "$284", "Suwon, South Korea"],
     ["$177.8", 2017, 566000, "$985",  "Seattle, US"],
     ["$154.7", 2017, 1300000, "$66", "New Taipei City, Taiwan"],
     ["$110.8", 2017, 80110, "$834", "Mountain View, US"]]

comps = ["apple", "samsung", "amazon", "foxconn", "alphabet"]
cols = ["revenue", "fy", "employees", "mcap", "location"]

c = pd.DataFrame(data, index=comps, columns=cols)

TypeError: 'tuple' object is not callable

In [21]:
pd.DataFrame([["104", "PUTNAM", 15, "Yes"], ["197", "LEXINGTON", 3, "No"]], 
    columns=['street_number, street_name, num_bedrooms, owner_occupied'])

TypeError: 'tuple' object is not callable

In [25]:
pd.DataFrame([[1, 2, 3], [4, 5, 6]], 
    columns=['A', 'B', 'C'])

TypeError: 'tuple' object is not callable

In [27]:
df1 = pd.DataFrame([[1, 2, 3], [4, 5, 6]], columns=['A', 'B', 'C'])

TypeError: 'tuple' object is not callable