NUMPY
1. Vectors and Matrices

ndarry or just array is the main data type we will be using 

all elements must be of the same type and size in memory 

*int64

*float64

*obj(native Python)

*strings ...

In [2]:
import numpy as np

In [4]:
arr1 = np.array([1,2,3,4])

In [5]:
arr1

array([1, 2, 3, 4])

In [6]:
arr1.dtype

dtype('int64')

In [8]:
arr2d = np.array([[1,2,3],[1,2,3]])

In [9]:
arr2d

array([[1, 2, 3],
       [1, 2, 3]])

In [10]:
nums = np.arange(1,10)

In [12]:
nums

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
np.random.randn(2,5)

array([[ 0.9453444 , -0.85084123,  0.39831283, -0.38048613, -0.12224709],
       [-0.03577209, -0.34812166, -0.53046123,  0.38579029,  0.284438  ]])

In [15]:
a1 = np.array([[1,1,1], [2,2,2]])

In [17]:
a1 + 8

array([[ 9,  9,  9],
       [10, 10, 10]])

In [21]:
a2 = np.array([[True, True, True],
       [False, False, False]])

In [22]:
a2 == 1

array([[ True,  True,  True],
       [False, False, False]])

In [27]:
np.random.randn(4,2)

array([[-2.12873847, -0.65679345],
       [-0.24126831,  0.47731168],
       [ 0.04954793, -0.81432938],
       [-0.69224095,  1.77236229]])

In [32]:
zero1 = np.zeros((2, 5))

In [30]:
des = np.arange(4, 12, 2)

In [31]:
des.ndim

1

In [34]:
zero1.shape

(2, 5)

In [35]:
zero1.dtype

dtype('float64')

In [45]:
arr = np.array([[[1, 1,1], [2, 2, 2], [3, 3, 3]],
                [[4,4,4], [5, 5, 5], [6, 6, 6]],
                [[7, 7, 7], [8, 8, 8], [9, 9, 9]]])

In [46]:
arr.shape

(3, 3, 3)

In [87]:
a1 = np.array([[[1,2,4]],[1,2,5]])

In [88]:
a1.shape

(2,)

In [89]:
a2 = np.array([[[1,2,4],[1,2,5]]])

In [90]:
a2.shape

(1, 2, 3)

In [91]:
a3 = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

In [92]:
a3.shape

(2, 2, 2)

*** Reshaping ***

In [93]:
a = np.arange(9)

In [94]:
a.reshape((3,3))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

*** Array arithmetics ***

In [96]:
arr = np.array([[1,2,3],[4,5,6]])
print(arr * 100)

[[100 200 300]
 [400 500 600]]

*** Simple Broadcasting ***

In [97]:
np.ones((2,3)) + np.array([[1,2,3],[4,5,6]])

array([[2., 3., 4.],
       [5., 6., 7.]])

In [99]:
np.ones((2,3)) * 5

array([[5., 5., 5.],
       [5., 5., 5.]])

In [100]:
np.ones((2,3)) + np.ones(3,)

array([[2., 2., 2.],
       [2., 2., 2.]])

In [102]:
a1 = np.ones((3, 3)); 
a2 = np.array([1, 2, 3])

In [103]:
a1

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [104]:
a2

array([1, 2, 3])

In [106]:
a2.shape

(3,)

In [107]:
a1 + a2

array([[2., 3., 4.],
       [2., 3., 4.],
       [2., 3., 4.]])

In [108]:
a3 = np.array([[[8, 9]], [[88, 99]]])

In [109]:
a3.shape

(2, 1, 2)

In [110]:
a = np.ones((2, 3))

In [114]:
a

array([[  1.,   1.,   1.],
       [  1.,   1., 456.]])

In [111]:
last_row = a[-1]

In [112]:
last_row[-1] = 456

In [113]:
last_row

array([  1.,   1., 456.])

In [115]:
a = np.arange(36).reshape((4, 3, 3))

In [116]:
a

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]],

       [[27, 28, 29],
        [30, 31, 32],
        [33, 34, 35]]])

In [119]:
a[1:3, :2, 1:]

array([[[10, 11],
        [13, 14]],

       [[19, 20],
        [22, 23]]])

In [132]:
ones1 = np.ones((3,3))

In [133]:
ones1

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [138]:
a1 = np.array([[[1,2,4]],[1,2,5]])

In [139]:
a1

array([list([[1, 2, 4]]), list([1, 2, 5])], dtype=object)

In [141]:
arr2d = np.array([[1,2,3],[1,2,3], [1,2,3]])

In [142]:
arr2d

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [144]:
arr2d[:2,:2]

array([[1, 2],
       [1, 2]])

In [170]:
arr2d[:, 2:]

array([[3],
       [3],
       [3]])

In [171]:
arr2d[1:, :]

array([[1, 2, 3],
       [1, 2, 3]])

In [167]:
arr2d[1,1:]

array([2, 3])

In [172]:
a = np.arange(24).reshape((3, 4, 2))

In [173]:
a

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11],
        [12, 13],
        [14, 15]],

       [[16, 17],
        [18, 19],
        [20, 21],
        [22, 23]]])

In [174]:
a[:2, [False, True, False, True], 1:]

array([[[ 3],
        [ 7]],

       [[11],
        [15]]])

In [175]:
a[:2, [False, True, False, True], -1]

array([[ 3,  7],
       [11, 15]])

In [176]:
m1 = np.arange(6).reshape(2, 3)

In [178]:
m1

array([[0, 1, 2],
       [3, 4, 5]])

In [179]:
m2 = np.arange(6, 12).reshape(3, 2)

In [180]:
m2

array([[ 6,  7],
       [ 8,  9],
       [10, 11]])

In [181]:
m1.dot(m2)

array([[ 28,  31],
       [100, 112]])

In [183]:
a = np.arange(9).reshape(3, 3)
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [185]:
a.mean()

4.0

In [188]:
a.sum(axis=0)

array([ 9, 12, 15])

In [186]:
a.mean(axis=0)

array([3., 4., 5.])

In [187]:
a.mean(axis=1)

array([1., 4., 7.])

In [189]:
a = np.arange(9).reshape(3, 3)
np.where(a < 5, 'YAS', 'OH NO')

array([['YAS', 'YAS', 'YAS'],
       ['YAS', 'YAS', 'OH NO'],
       ['OH NO', 'OH NO', 'OH NO']], dtype='<U5')

In [190]:
np.empty((2, 3, 2))

array([[[1.72723371e-077, 1.29073837e-231],
        [3.95252517e-323, 0.00000000e+000],
        [0.00000000e+000, 1.34912301e+161]],

       [[8.37699418e+169, 1.40075421e-076],
        [5.10062122e-066, 1.25603590e-071],
        [1.40460500e+165, 5.93855217e-038]]])

In [194]:
arr = np.array([3.7, -1.2, -2.6, 0.5, 12.9, 10.1])

In [195]:
arr.astype(np.int32)

array([ 3, -1, -2,  0, 12, 10], dtype=int32)

In [193]:
float_arr

array([1., 2., 3., 4., 5.])

In [196]:
 names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

In [197]:
data = np.random.randn(7, 4)

In [198]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [199]:
names == 'Bob'

array([ True, False, False,  True, False, False, False])

In [201]:
data

array([[ 0.95382152, -0.82514478, -0.51384471, -1.74430124],
       [ 0.07623034, -0.28939127,  1.02141062, -0.8829144 ],
       [-0.06532889, -0.30500583, -0.10521086,  0.51457517],
       [-0.90211005,  1.00891514,  0.20993884, -0.39557253],
       [ 1.14436199,  0.23914078,  1.02710195,  0.10892478],
       [-0.65795725,  1.22225777, -1.32264225,  0.68743806],
       [ 0.06821426,  1.06730874,  0.98667673,  0.18195942]])

In [200]:
data[names == 'Bob']

array([[ 0.95382152, -0.82514478, -0.51384471, -1.74430124],
       [-0.90211005,  1.00891514,  0.20993884, -0.39557253]])

In [202]:
def outer(x):
    print('stan')
    def inner():
        x()
        print('mable')
    return inner
def f():
    print('dipper')